*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

*::selection{
    background-color: white;
    color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #121212;
    color: white;
}

.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

.loader h3{
    font-size: 2vw;
    font-weight: 100;
}


.page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 3vw;
    padding-top: 19vh;
    
}

.bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.597);
}


.nav{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 10px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}

.nav .nav-part1 img{
    height: 80px;
    margin: -15px 20px;
    
}

.nav .nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav .nav-part2 .link a{
    text-decoration: none;
    /* color: #333; */
    font-weight: 400;
    font-size: 14px;
    margin: 0 30px;
    text-transform: uppercase;
    color: white;
}

.link{
    padding: 10px;
   
}

.nav .nav-part2 .icons i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
    
}

.icons{
    padding: 10px;
    border-radius: 50px;
    border-color: #fff;   
}

.page1 h1{
    font-size: 9.4vw;
    line-height: 7vw;
    letter-spacing: -7px;
}
.page1 h2{
    font-size: 7.4vw;
    line-height: 10vw;
    letter-spacing: -1.5px;
}

.page1 p{
    font-size: 1.8vw;
    line-height: 3.1vw;
    padding: 80px 12px;
}


.scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

.scroller::-webkit-scrollbar{
    display: none;
}

.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
    color: transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 1px #95C11E;
}

.scroller h4:hover{
    color: #95C11E;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }    
    to{
        transform: translateX(-100%);
    }
}

.about-us{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    z-index: 10;
    margin-top: 30px;
}

.about-us img{
    height: 350px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.about-us img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.about-us img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.15);
}

.about-us-in{
    width: 50%;
    text-align: center;    
}

.about-us-in h3{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    
}

.about-us-in p{
    font-size: 20px;
    line-height: 26px;
}

.cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card{
    height: 90%;
    width: 24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
    margin-top: 50px;
    margin-bottom: 90px;
}

#card1{
    background-image: url("img/img3.jpg");
}
#card2{
    background-image: url("img/img4.jpg");
}
#card3{
    background-image: url("img/img5.jpg");
}

.overlay{
    height: 100%;
    width: 100%;
    background: linear-gradient(to left bottom, #119F3A, #A3D421);
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    transition: all ease 0.6s;
    
}

.card:hover .overlay{
    opacity: 1;
}

.overlay h4{
    color: black;
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;   
}

.overlay p{
    margin-top: -55px;
    color: black;
    font-size: 15px;
    line-height: 25px;

}

.card:hover{
    transform: rotate3d(-1, 1, 0, 20deg);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;  
   
}

footer .copyright{
    display: flex;
    margin: 2px 3px;
    opacity: 0.7;
    color: black;
    margin-left: 20px;
    padding-bottom: 5px;
    justify-content: center;
    position: absolute;
    /* padding-top: 30px; */
}

/* Responsive */
@media(max-width:800px){

    .nav{
        height: 100px;
        width: 100%;
        position: fixed;
        /* background-color: blueviolet; */
        z-index: 99;
        padding: 10px 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
    }
    
    .nav .nav-part1 img{
        height: 70px;
        margin: 0px 20px;
        width: 80px;
        
    }
    
    .nav .nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    .nav .nav-part2 .link a{
        text-decoration: none;
        /* color: #333; */
        font-weight: 400;
        font-size: 14px;
        margin: 0 30px;
        text-transform: uppercase;
        color: white;
    }
    
    .link{
        padding: 10px;
        display: none;
    }
    
    .nav .nav-part2 .icons i{
        font-size: 18px;
        margin: 0 20px;
        font-weight: 100;
        height: 12px;
        
    }
    
    .icons{
        padding: 10px;
        border-radius: 50px;
        border-color: #fff;
        
    
    }

    .page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
        
    }

    .page1 h1{
        font-size: 14vw;
        line-height: 11vw;
        letter-spacing: -3px;
    }   
   
   
}
